body { background-color:rgb(185, 187, 187)
}
#header, #ul { text-align:center; color:#eeeec4
}
#ul { list-style-type:none; 
}
.navItems, #selected {text-decoration:none;
}
.navItems, #notUnderlinedItems, #selected {color:beige;
}
#selected { background-color:rgb(150, 152, 152)
}
#footer { text-align:center; font-weight:700;
}
li a { font-size:20px;
}
.h1 {color:beige; font-size:22px;
}