        img{
            width:200px;
            height:170px;
        }
        .wrappers{
            position:absolute;
            display:inline-block;
            margin:10px;
            margin-right:25px;
        }
       #sheepWrapper{
           top:10px;
           left:380px;
       }
       #ramWrapper{
           top:10px;
           left:620px;
       }
       #sheepCounter{
           font-size:30px;
       }
       #ramCounter{
           font-size:30px;
       }
       input{
           position:absolute;
           top:280px;
           left:540px;
           height:40px;
           font-size:25px;
       }
       label{
           position:absolute;
           top:280px;
           left:280px;
           font-size:35px;
       }
       button{
           position:absolute;
           top:360px;
           left:620px;
           width:100px;
           height:50px;
           background-color:honeydew;
       }
       button:hover{
           background-color:antiquewhite;
       }
       #restrictionSpan{
           font-size:18px;
           color:gray;
           position:absolute;
           top:320px;
           left:400px;
       }
       #showScore{
           display:none;
           position:absolute;
           top:240px;
           left:550px;
           font-size:30px;
       }
        #userNameLabel{
            display:none;
        }
        #userName{
            display:none;
        }
        #nameButton{
            display:none;
        }
        #highScoreBtn{
            position:absolute;
            top:360px;
            left:300px;
        }
        #scoreList{
            background-color:antiquewhite;
            font-size:20px;
            list-style-type:none;
            width:250px;
            margin:0;
        }
      