body {
}
table {width:800px; column-width:200px; border-spacing: 0;
}
th{border-style:ridge; border-width: 0; border-right-width: 1px; border-color:rgb(64, 150, 14)
}
table tr td {border-style:ridge; border-width: 0; border-right-width: 1px; border-color:rgb(230, 216, 216);
}
.header {background-color:rgb(80, 220, 0); padding:10px;text-align:left; color:rgb(240, 240, 240);
         font-size:19px
}
td { padding:8px; font-size:1.5em
}
table tr:nth-child(even) { background-color:rgb(250, 237, 237)
}
.flags {width:30px; height:20px
}
#lastCol {width:100px
}

